.card {
  background: #fff;

  border-radius: 24px;

  padding: 24px;

  box-shadow:
    0 4px 12px
    rgba(0,0,0,.05);
}

.download {
  display: flex;

  justify-content: flex-end;

  margin-bottom: 20px;

  button {

    background: white;

    color: #e60012;

    border: 1px solid #e60012;

    border-radius: 12px;

    padding: 12px 20px;

    cursor: pointer;
  }
}

.uploadBox {

  min-height: 350px;

  border: 2px dashed #e60012;

  border-radius: 24px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  gap: 12px;
}

.chooseBtn {

  background: #e60012;

  color: white;

  padding: 12px 30px;

  border-radius: 12px;

  cursor: pointer;
}

.fileInfo {

  font-weight: 600;

  color: #555;
}

.footer {

  margin-top: 24px;
}

.importBtn {

  min-width: 180px;

  height: 50px;

  border: none;

  border-radius: 12px;

  background: #e60012;

  color: white;

  font-weight: 600;

  cursor: pointer;
}

.dragging {
  border-color: #e60012;
  background: #fff5f5;

  transform: scale(1.01);

  transition: all .2s ease;
}