.tableWrapper {
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #c30000;
  color: white;
  padding: 14px;
}

td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.active {
  color: #0ea45c;
  font-weight: 600;
}

.inactive {
  color: red;
}

.editBtn {
  background: #c30000;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 12px;

  padding: 20px;

  button {
    border: none;
    padding: 8px 14px;

    border-radius: 6px;

    cursor: pointer;

    background: #d60000;
    color: white;

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }

  span {
    font-weight: 600;
  }
}